
.CALC{
    background: rgba(128, 128, 128, 0.396);
    height: 800px;
    width: 500px;
    border-radius: 10px;
    margin: auto;
}
h3{
    padding-top: 30px;
    margin-left: 30px;

}
#N1,#N2{
    height: 30px;
    width: 430px;
    margin-left: 30px;
    border: 1px solid rgba(0, 0, 0, 0.367);
}
input[type="submit"]{
    height: 40px;
    width: 200px;
    margin-top: 30px;
    margin-left: 30px;
    border: 1px solid rgba(0, 0, 0, 0.367);
}
h1{
    margin-left: 20px;
}
.out{
    
    margin-left: 30px;
    height: 80px;
    width: 430px;
    border: 1px solid rgba(0, 0, 0, 0.367);
    background: white;
}